body{
    background: #c1bdba;
    font-family: 'Titillium Web', sans-serif;
}

body h2{
    text-transform: uppercase;
}

/*Tab links*/
.tab-group {
    list-style: none;
    font-size: 20px;
    cursor: pointer;
    margin: 0px 0px 30px;
    padding: 0px;
}

.tab-group .active a , .tab-header .active a{
    background: #0894A1;
    color: #ffffff;
}

.tab-group li a{
    display: block;
    text-decoration: none;
    padding: 15px;
    background: rgba(160, 179, 176, 0.25);
    color: #a0b3b0;
    font-size: 20px;
    float: left;
    width: 50%;
    text-align: center;
    cursor: pointer;
    transition: .5s ease;
    width: 100%;
}


.tab-header li a {
    text-decoration: none;
    padding: 15px;
    background: rgba(160, 179, 176, 0.25);
    color: #a0b3b0;
    font-size: 20px;
    width: 50%;
    text-align: center;
    cursor: pointer;
    transition: .5s ease;
    width: 100%;
}

ul li{
    display: inline-block;
    width: 46%;
}
hr {
    color: #1ab188;
}


/*form input styles*/

.my-form{
    width: 35%;
    margin: 0 auto;
    background: #FFF;
    padding: 20px;
    -webkit-border-radius: .3rem;
    -moz-border-radius: .3rem;
    -ms-border-radius: .3rem;
    border-radius: .3rem;
}
.my-form h2{
    text-align: center;
    margin-bottom: 40px;
}

.input-control{
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    width: 100%;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.input-field {
    margin-bottom: 20px;
}

.check {
    padding: 10px;
    border: 2px solid #392929;
    background: #392929;
    color: #fff;
    font-size: 1rem;
}

.btn{
    background: #0894A1;
    padding: 10px 15px;
    font-size: 16px;
    border: 1px solid #0894A1;
    margin:20px auto;
    color: #fff;
    cursor: pointer;
    border-radius: 2px;
}

#input-errors{
    color: #D8000C;
    /*background-color: #FFBABA;*/
    margin: 20px 0px;
    width: 80%;
}

.center-text{
    text-align: center;
}

.first-name, .last-name{
    display: inline-block;
    vertical-align: top;
    width: 49.5%;
}


.input-control[readonly]{
    background-color: #eee;
    opacity: 1;
}


